RewriteEngine on

# If you're running from a sub-directory...
# RewriteBase /lightbulb

# Don't rewrite existing resources
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]

# Rewrite to index.php
RewriteRule ^.*$ index.php [NC,L]
