<!DOCTYPE html>
<html>
<head>
	<title>Your New Lightbulb Website</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="A sample website powered by Lightbulb" />
	<meta name="author" content="Chris Frazier" />
	<meta name="keywords" content="Lightbulb, CMS, Lightbulb CMS" />
	<link rel="stylesheet" type="text/css" href="{{site.root}}css/style.css">
</head>
<body>
	<header>
		<a href="{{site.root}}" title="Lightbulb"><span>Light</span>bulb</a>
	</header>
	<div id="main">
		{{^is_blog}}
			{{#is_post}}
				<h2>{{meta.title}}</h2>
				<hr />
				<p>Authored by {{meta.author}} - {{#meta.tags}}<a href="{{site.root}}{{site.blog}}/{{site.tag}}/{{.}}">#{{.}}</a>&nbsp;&nbsp;&nbsp;{{/meta.tags}}</p>
			{{/is_post}}
			{{&content}}
		{{/is_blog}}
		
		{{#is_blog}}
			<h2>Blog{{#blog_filter}} | #{{blog_filter}}{{/blog_filter}}</h2>
			<hr />
			{{#posts}}
				<h3>{{meta.title}}</h3>
				<p>Authored by {{meta.author}} - {{#meta.tags}}<a href="{{site.root}}{{site.blog}}/{{site.tag}}/{{.}}">#{{.}}</a>&nbsp;&nbsp;&nbsp;{{/meta.tags}}</p>
				{{&content}}
			{{/posts}}
			
			{{#site.pagination}}
				<p style="margin: 0; padding-top: 10px; float: right;">Pages:
					{{#prev_pages}}<a href="{{site.root}}{{site.blog}}/{{#blog_filter}}{{site.tag}}/{{blog_filter}}/{{/blog_filter}}{{.}}">{{.}}</a> {{/prev_pages}}
					{{cur_page}}
					{{#next_pages}}<a href="{{site.root}}{{site.blog}}/{{#blog_filter}}{{site.tag}}/{{blog_filter}}/{{/blog_filter}}{{.}}">{{.}}</a> {{/next_pages}}
				</p>
			{{/site.pagination}}
		{{/is_blog}}
	</div>
	<div id="sidebar">
		<nav>
			<ul>
				<li><a href="{{site.root}}">Home</a></li>
				<li><a href="{{site.root}}about">About</a></li>
				<li><a href="{{site.root}}{{site.blog}}">Blog</a></li>
			</ul>
		</nav>
	</div>
	<footer>
		<p>Powered by Lightbulb - Copyright <a href="http://chrisfrazier.me">Chris Frazier</a> &copy; 2011 - All Rights Reserved</p>
	</footer>
</body>
</html>