<!DOCTYPE html>
<html>
<head>
	<title>Your New Lightbulb Website</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="A sample website powered by Lightbulb" />
	<meta name="author" content="Chris Frazier" />
	<meta name="keywords" content="Lightbulb, CMS, Lightbulb CMS" />
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header>
		<a href="/" title="Lightbulb"><span>Light</span>bulb</a>
	</header>
	<div id="main">
		{{#is_post}}
			<h2>{{title}}</h2>
			<hr />
			<p>Authored by {{author}} - {{#tags}}<a href="/blog/tag/{{.}}">#{{.}}</a>&nbsp;&nbsp;&nbsp;{{/tags}}</p>
		{{/is_post}}
		{{&content}}
	</div>
	<div id="sidebar">
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/blog">Blog</a></li>
			</ul>
		</nav>
	</div>
	<footer>
		<p>Powered by Lightbulb - Copyright <a href="http://chrisfrazier.me">Chris Frazier</a> &copy; 2011 - All Rights Reserved</p>
	</footer>
</body>
</html>